<!--Name:Nathan Siu and Mike Meissner
    File Name:Details
    Description: This File shows food details
    -->

@model ASPAssignment2.Models.food

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div>
        <!--Moved out of the table so we can format the picture-->
        <img src="@Model.foodImageUrl" alt=" http//Model.Name" height="200" width="300" />
    </div>

    <dl class="dl-horizontal">
        
        <dd>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
