@model IEnumerable<ASPAssignment2.Models.food>

@{
    ViewBag.Title = "Menu";
}

<h2>Food On Demand Menu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.foodImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.foodImageUrl)
           <img src="@item.foodImageUrl" alt="@item.Name" height="200" width="200">

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoodID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FoodID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FoodID })
        </td>
    </tr>
}

</table>
